<div class="container">
<h1>INTELLECTUAL PROPERTY RIGHTS</h1>
<p>
  All contents (including, information, images and  e-book files) contained in this Website are protected by copyright laws, and may not be reproduced, copied, republished, distributed, transmitted, displayed, broadcast or otherwise exploited in any manner without the express prior written permission.
  Website’s names and logos and all related trademarks, tradenames, and other intellectual property are the property of Paul and Keao and cannot be used without its express prior written permission.
</p><%= image_tag "logo.png"%>
</div>
