
<div class="container marketing">
<p><h1>Book Binder Type</h1></p></br>
  <!-- Three columns of text below the carousel -->

  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" src= "<%=image_url "Perfect-Bound2.jpg"%>" alt="bookcover" width="140" height="140">
      <h2>Perfect Bound</h2>
      <table border="0">
          <tr><b>Color: </b><%= link_to "Color Paper", option_cover_path%></tr></br>
          <tr><b>Price</b></tr>
          <tr>
            <td>B/W ptinting</td>
            <td>40 baht</td>
          </tr>
          <tr>
            <td>Color ptinting</td>
            <td>80 baht</td>
          </tr>
      </table>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="<%=image_url "Tape-Bound2.jpg"%>" alt="bookbinder" width="140" height="140">
      <h2>Tape Bound</h2>
      <table border="0">

          <tr><b>Color</b></tr>
            <td bgcolor = "#000000">Black</td>
            <td bgcolor = "#FFFFFF">White</td></br>
      </table>

      <b>Price</b>
      <table border="0">
          <tr>
            <td>B/W ptinting</td>
            <td>20 baht</td>
          </tr>
          <tr>
            <td>Color ptinting</td>
            <td>20 baht</td>
          </tr>
      </table>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="<%=image_url "Spiral-Bound2.jpg"%>" alt="bookbinder" width="140" height="140">
      <h2>Spiral Bound</h2>
      <table border="0">
        <tr><b>Color</b></tr>
          <td bgcolor = "#000000">Black</td>
          <td bgcolor = "#0000FF">Blue</td>
          <td bgcolor = "#FFFFFF">White</td>
      </table>
      <b>Price</b>
      <table border="0">
          <tr>
            <td>6 mm</td>
            <td>21 baht</td>
          </tr>
          <tr>
            <td>8 mm</td>
            <td>23 baht</td>
          </tr>
          <tr>
            <td>10 mm</td>
            <td>25 baht</td>
          </tr>
          <tr>
            <td>12 mm</td>
            <td>29 baht</td>
          </tr>
          <tr>
            <td>16 mm</td>
            <td>31 baht</td>
          </tr>
          <tr>
            <td>18 mm</td>
            <td>33 baht</td>
          </tr>
          <tr>
            <td>20 mm</td>
            <td>35 baht</td>
          </tr>
          <tr>
            <td>22 mm</td>
            <td>37 baht</td>
          </tr>
          <tr>
            <td>25 mm</td>
            <td>40 baht</td>
          </tr>
          <tr>
            <td>30 mm</td>
            <td>45 baht</td>
          </tr>
          <tr>
            <td>32 mm</td>
            <td>47 baht</td>
          </tr>
      </table>
    </div><!-- /.col-lg-4 -->

  </div><!-- /.row -->
