
<div class="container marketing">
<p><h1>Paper Type</h1></p></br>
  <!-- Three columns of text below the carousel -->

  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" src= "<%=image_url "whitepaper.jpg"%>" alt="paper" width="140" height="140">
      <h2>Double A 70 gram</h2>
      <table border="0">
        <thead>
          <tr>
            <td>Color</td>
            <td>Price</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td bgcolor = "#FFFFFF">White</td>
            <td>0.5 baht/page</td>
          </tr>
        </tbody>
      </table>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <img class="img-circle" src= "<%=image_url "greenreadpaper.jpg"%>" alt="paper" width="140" height="140">
      <h2>Greenread Paper</h2>
      <table border="0">
        <thead>
          <tr>
            <td>Color</td>
            <td>Price</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td bgcolor = "#FFFFCC">Green read</td>
            <td>0.6 baht/page</td>
          </tr>
        </tbody>
      </table>
    </div><!-- /.col-lg-4 -->

  </div><!-- /.row -->
